# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List of popular languages for Data Science.
* List of commonly used libraries used by Data Scientists.
* List of development environment open source tools used in data science.
* How to use arithmetic expressions in Python.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. SQL
4. Java

 ### Some of the commonly used libraries used by Data Scientists include:
 1. NumPy
 2. pandas
 3. Matplotlib
 4. Seaborn
 5. TensorFlow

## Development environment open source tools used in data science.

| Data Science Tools |
|--------------------|
|Anaconda|
|Git|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Sahar Shehadeh